

  <section id="coc">

    <svg id="text-container1" viewBox="0 0 800 200"  style="border-radius:30%;">
      <path id="text-curve1" d="M0 100s269.931 86.612 520 0c250.069-86.612 480 0 480 0" fill="none"/>
      
      <text y="40">
        <textPath id="text-path1" href="#text-curve1" startOffset="200" class="new">
          4FENNEC
        </textPath>
      </text>
    </svg>
    <div class="container">
     
      <div class="col-md-4 me-auto" style="padding-top: 10px;">
        <!--<h2 class="AllTitle mb-4" >4FENNEC</h2>-->
        
        <p class="mb-4">ALIII contact earth , they were left to fend for themselves, and their race developed on its own upon Solana. Due to genetic mutations caused by the u usual environmental elements on Solana’s planet, the fennec began to be humanoid and their intelligence increased.
         .
        </p>
        
      </div>
    
   

   



</div>

</section>