<!--neon bd-container--> 
<section class="container" >
    <div class="AllTitle" data-aos="zoom-in">BENEFITS</div>
    <div class="neon__container">
        <div class="neon__card" >
          <img class="neon__icon" src="../img/lama2.webp">
               
            
            <h1 class="neon__title">LAID BACK</h1>
            <p class="neon__description">Pass tickets, for full access to premium movies and series for one year.</p>
            <p class="neon__description">Pass tickets, for full access to premium movies and series for one year.</p>
            <a href="#" class="neon__button">Buy Now 
               
            </a>
        </div>

        <div class="neon__card">
          <img class="neon__icon" src="../img/lama2.webp">
             
          
          <h1 class="neon__title">LAID BACK</h1>
          <p class="neon__description">Pass tickets, for full access to premium movies and series for one year.</p>
          <p class="neon__description">Pass tickets, for full access to premium movies and series for one year.</p>
          <a href="#" class="neon__button">Buy Now 
             
          </a>
      </div>

      <div class="neon__card">
        <img class="neon__icon" src="../img/lama2.webp">
           
        
        <h1 class="neon__title">LAID BACK </h1>
        <p class="neon__description">Pass tickets, for full access to premium movies and series for one year.</p>
        <p class="neon__description">Pass tickets, for full access to premium movies and series for one year.</p>
        
        <a href="#" class="neon__button">Buy Now 
             
        </a>
    </div>
</section>