<section id="slot">
<div class="container">
    <div class="AllTitle" data-aos="zoom-in"> WIN</div>
</div>
<div class="container machine">
    <div class="row">
        <div class="col slot" id="slot1">
            <div class="" id="value1"><img src="/img/GAME/1.webp"></div>
        </div>
        <div class="col slot" id="slot2">
            <div class="" id="value2"><img src="/img/GAME/2.webp"></div>
        </div>
        <div class="col slot" id="slot3">
            <div class="" id="value3"><img src="/img/GAME/3.webp"></div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="colll">
            <button type="button" id="spd-btn">Speed</button>
            <input type="range" id="spd" name="spd" min="1" max="5"></input>
            
        </div>
        
    </div>
	<button type="button" id="wallet-btn" class="button-73" style="margin-top: 80px;">wallet</button>
    <button type="button" id="start-btn" class="button-73" style="margin-top: 80px;">Start</button>
</div>
</section>