


  
<section class="hero-section2 demo" id="hero2">



  <div class="container11">
    <div class="wrap">
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:24"></span>
        <span style="--i:10"></span>
        <span style="--i:14"></span>
        <span style="--i:23"></span>
        <span style="--i:18"></span>
        <span style="--i:16"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
        <span style="--i:22"></span>
        <span style="--i:25"></span>
        <span style="--i:18"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:16"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
        
        <span style="--i:11"></span>
        <span style="--i:12"></span>
        <span style="--i:24"></span>
        <span style="--i:10"></span>
        <span style="--i:14"></span>
        <span style="--i:23"></span>
        <span style="--i:18"></span>
        <span style="--i:16"></span>
        <span style="--i:19"></span>
        <span style="--i:20"></span>
        <span style="--i:22"></span>
        <span style="--i:25"></span>
        <span style="--i:18"></span>
        <span style="--i:21"></span>
        <span style="--i:15"></span>
        <span style="--i:13"></span>
        <span style="--i:16"></span>
        <span style="--i:17"></span>
        <span style="--i:13"></span>
        <span style="--i:28"></span>
    </div>
</div>



   
  
    <div class="container" >
      
      <div class="row align-items-center">
        <div class="col-12 hero-text-image">
          <div class="row ordre">
			     
			 
			  <div class="col-lg-8 text-center text-lg-start " id="mytitre">
              <h1  >4FENNEk COLLECTION are minting 02 july </h1>
              <p class="mb-5" >Lady Llamas are a collection of wooly, supe  prg rgrkgk rgprkpkr rgrpkkprg grgr pzol  grg oo</p>
              <p >
                <button class="button-73" role="button">MINT</button>
              </p>
            </div>
  
            <div class="col-lg-4  text-center text-sm-center iphone-wrap">
              <img src="/img/violet.webp" alt="Image" class="phone-1"   id="imgf" width="740" height="740"   >
             
            </div>
			  </div>
		  
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->
  
  
  