

    <div class="AllTitle" data-aos="zoom-in"> ROADMAP</div>
    <section class="timeline">
     
<div class="container" >
  
 
  
  <div class="timeline-item " data-aos="fade-right">

    <div class="timeline-img"></div>

    <div class="timeline-content timeline-card js--fadeInLeft">
      <div class="timeline-img-header">
        <h2></h2>
      </div>
      <div class="date">30 %</div>
      <p>OUR nft will do ofefeofko. FLEPFPEFLEPFLEFLEPF pefkepfkepkepgkepgkp egpekgkegpekpgekr, nostrum feefkepfk kpefks. efefes,felpfelfef.</p>
     <!-- <a class="bnt-more" href="javascript:void(0)"></a>-->
    </div>
  </div> 

  <div class="timeline-item" data-aos="fade-left">

    <div class="timeline-img"></div>

    <div class="timeline-content timeline-card js--fadeInRight">
      <div class="timeline-img-header">
        <h2></h2>
      </div>
      <div class="date">20 %</div>
      <p>OUR nft will do ofefeofko. FLEPFPEFLEPFLEFLEPF pefkepfkepkepgkepgkp egpekgkegpekpgekr, nostrum feefkepfk kpefks. efefes,felpfelfef.</p>
      
    </div>

  </div>   

  <div class="timeline-item" data-aos="fade-right">

    <div class="timeline-img"></div>

    <div class="timeline-content timeline-card js--fadeInLeft">
      <div class="timeline-img-header">
        <h2></h2>
      </div>
      <div class="date">40%</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
      
    </div>
  </div>    

  <div class="timeline-item" data-aos="fade-left">

    <div class="timeline-img"></div>

    <div class="timeline-content timeline-card js--fadeInRight">
      <div class="timeline-img-header">
        <h2></h2>
      </div>
      <div class="date">20 %</div>
      <p>OUR nft will do ofefeofko. FLEPFPEFLEPFLEFLEPF pefkepfkepkepgkepgkp egpekgkegpekpgekr, nostrum feefkepfk kpefks. efefes,felpfelfef..</p>
      
    </div>

  </div>   

  <div class="timeline-item" data-aos="fade-right">

    <div class="timeline-img"></div>

    <div class="timeline-content timeline-card js--fadeInLeft">
      <div class="timeline-img-header">
        <h2></h2>
      </div>
      <div class="date">40%</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
      
    </div>
  </div>   

  <div class="timeline-item" data-aos="fade-left">

    <div class="timeline-img"></div>

    <div class="timeline-content timeline-card js--fadeInRight">
      <div class="timeline-img-header">
        <h2></h2>
      </div>
      <div class="date">20 %</div>
      <p>OUR nft will do ofefeofko. FLEPFPEFLEPFLEFLEPF pefkepfkepkepgkepgkp egpekgkegpekpgekr, nostrum feefkepfk kpefks. efefes,felpfelfef..</p>
      
    </div>

  </div>   


  




</div>


      
  </section>
  