<div class="AllTitle" data-aos="zoom-in"> TEAM</div>
<section class="section"  id="ourteam"  style="background: linear-gradient(to right, rgba(15, 15, 14, 0.6) 0%, rgba(20, 17, 4, 0.7) 100%);">
  <div class="container">
    <div class="row">
  <div class="box col-md-3 col-sm-5">
    <div class="imgBox">
        <img src="../img/str.webp" alt="">
    </div>
    <div class="content">
        <h2>OMAR<br>
        <span>DESIGNER</span><br>
       <a href="#"><img src="../img/twitter.webp"></a>
      </h2>
    </div>
</div>

<div class="box col-md-3 col-sm-5">
  <div class="imgBox">
      <img src="../img/str.webp" alt="">
  </div>
  <div class="content">
      <h2>OMAR<br>
      <span>DESIGNER</span><br>
     <a href="#"><img src="../img/twitter.webp"></a>
    </h2>
  </div>
</div>
<div class="box col-md-3 col-sm-5">
<div class="imgBox">
    <img src="../img/str.webp" alt="">
</div>
<div class="content">
    <h2>OMAR<br>
    <span>DESIGNER</span><br>
   <a href="#"><img src="../img/twitter.webp"></a>
  </h2>
</div>
</div>

<div class="box col-md-3 col-sm-5">
<div class="imgBox">
  <img src="../img/str.webp" alt="">
</div>
<div class="content">
  <h2>OMAR<br>
  <span>DESIGNER</span><br>
 <a href="#"><img src="../img/twitter.webp"></a>
</h2>
</div>
</div>
<div class="box col-md-3 col-sm-5">
<div class="imgBox">
  <img src="../img/str.webp" alt="">
</div>
<div class="content">
  <h2>OMAR<br>
  <span>DESIGNER</span><br>
 <a href="#"><img src="../img/twitter.webp"></a>
</h2>
</div>
</div>
<div class="box col-md-3 col-sm-5">
<div class="imgBox">
  <img src="../img/str.webp" alt="">
</div>
<div class="content">
  <h2>OMAR<br>
  <span>DESIGNER</span><br>
 <a href="#"><img src="../img/twitter.webp"></a>
</h2>
</div>
</div>
<div class="box col-md-3 col-sm-5">
<div class="imgBox">
  <img src="../img/str.webp" alt="">
</div>
<div class="content">
  <h2>OMAR<br>
  <span>DESIGNER</span><br>
 <a href="#"><img src="../img/twitter.webp"></a>
</h2>
</div>
</div>

  </div>

</div>
</section>


