<section id="TOP3">
    
     <div class="container">
     <input type="radio" name="slider" id="item-1" checked>
     <input type="radio" name="slider" id="item-2" >
     <input type="radio" name="slider" id="item-3" >
     <div class="cards">
        <label class="card" for="item-1" id="song-1" >
            <img src="/img/NFT/TOP1tr.webp" alt="song">
        </label>
        <label class="card" for="item-2" id="song-2">
         <img src="/img/NFT/TOP2tr.webp" alt="song">
     </label>
     <label class="card" for="item-3" id="song-3">
       <img src="/img/NFT/TOP3tr.webp" alt="song">
    </label>
   </div>
   
   </div>     
   </section>