:root {
    --color1: #00e7ff;
    --color2: #ff00e7;
    --back: url();
    --charizard1: #fac;
    --charizard2: #dca;
    --charizardfront: url(/img/str.webp);
}
.cardt {
    width: 71.5vw;
    height: 100vw;
    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;
    border-radius: 5% / 3.5%;
    box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;
    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
}
@media screen and (min-width: 600px) {
    .cardt {
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);
   }
}
.cardt:hover {
    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.cardt.charizard {
    --color1: var(--charizard1);
    --color2: var(--charizard2);
    --front: var(--charizardfront);
}
.cardt:before, .cardt:after {
   
   
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
}
.cardt:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1;
}
.cardt:after {
    opacity: 1;
    background-image: url('https://assets.codepen.io/13471/sparkles.gif')
, url('https://assets.codepen.io/13471/holo.png'),
 linear-gradient(125deg, #ff0084 50 15%, #fca400 40 30%, #ff0 30 40%, #00ff8a 20 60%, #00cfff 40 70%, #cc4cfa 50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.75;
}
.cardt.active:after, .cardt:hover:after {
    filter: brightness(1) contrast(1);
    opacity: 1;
}
.cardt.active, .cardt:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}
.cardt.active:before, .cardt:hover:before {
    animation: none;
    background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: 0.88;
    filter: brightness(0.66) contrast(1.33);
    transition: none;
}
.cardt.active:before, .cardt:hover:before, .cardt.active:after, .cardt:hover:after {
    animation: none;
    transition: none;
}
.cardt.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
}
.cardt.animated:before {
    transition: none;
    animation: holoGradient 12s ease 0s 1;
}
.cardt.animated:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
}
@keyframes holoSparkle {
    0%, 100% {
        opacity: 0.75;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(1.25);
   }
    5%, 8% {
        opacity: 1;
        background-position: 40% 40%;
        filter: brightness(0.8) contrast(1.2);
   }
    13%, 16% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(1.2) contrast(0.8);
   }
    35%, 38% {
        opacity: 1;
        background-position: 60% 60%;
        filter: brightness(1) contrast(1);
   }
    55% {
        opacity: 0.33;
        background-position: 45% 45%;
        filter: brightness(1.2) contrast(1.25);
   }
}
@keyframes holoGradient {
    0%, 100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(0.5) contrast(1);
   }
    5%, 9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
   }
    13%, 17% {
        background-position: 0% 0%;
        opacity: 0.88;
   }
    35%, 39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(0.5) contrast(1);
   }
    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(0.75) contrast(1.25);
   }
}
@keyframes holoCard {
    0%, 100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
   }
    5%, 8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
   }
    13%, 16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
   }
    35%, 38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
   }
    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
   }
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px);
}
@media screen and (min-width: 600px) {
    .cards {
        flex-direction: row;
   }
}
.cards .cardt:nth-child(2), .cards .cardt:nth-child(2):before, .cards .cardt:nth-child(2):after {
    animation-delay: 0.25s;
}
.cards .cardt:nth-child(3), .cards .cardt:nth-child(3):before, .cards .cardt:nth-child(3):after {
    animation-delay: 0.5s;
}
.cards .cardt:nth-child(4), .cards .cardt:nth-child(4):before, .cards .cardt:nth-child(4):after {
    animation-delay: 0.75s;
}
